*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow-x: hidden; */
}
body{
  width: 100vw;
  background: url(../img/background3.jpg) no-repeat center center/cover;
}
nav{
  width: 100%;
  background-color: #0E0E0C;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav input{
  height: 50%;
  border: none;
  border-radius: 5px;
  width: 60%;
  padding: 0 1rem;
  margin-right: 2rem;
}
nav select{
  background-color: #0E0E0C;
  color: #fff;
  height: 60%;
  border: none;
  border-radius: 5px;
  padding: 0 0.2rem;
  width: 13%;
}
table{
  /* border-collapse: separate; */
  /* border-spacing: 15px; */
  color: #fff;
  width: 90%;
  margin: 3rem auto;
}
thead{
  width: 100%;
}
thead th{
  /* width: 10%; */
}
tbody{
  width: 100%;
}
tbody td{
  /* width: 11%; */
}
table tr{
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
}
table button{
  background-color: #d8e4eb;
  color: #000;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px 5px;
}
table td input{
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  width: 100%;
}